<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.posco.insta.post.repository.PostMapper">
    <select id="getPost" resultType="PostDto">
        select
            id,userId,img,content
        from
            posts
    </select>

    <select id = "findPostsByUserId" resultType="SelectPostJoinUserDto" parameterType="PostDto">
        select
            p.id, p.userId, p.img, p.content,
            u.name as userName, u.img as userImg
        from
            posts as p
        inner join users as u
        on p.userId = u.id
        where p.userId = #{userId}

    </select>
    <delete id="deletePostByUserIdAndId" parameterType="PostDto">
        delete from posts
        where id = #{id} and userId = #{userId}
    </delete>
    <select id = "findPostsByNotUserId" resultType="SelectPostJoinUserDto" parameterType="PostDto">
        select
            p.id, p.userId, p.img, p.content,
            u.name as userName, u.img as userImg
        from
            posts as p
                inner join users as u
                           on p.userId = u.id
        where p.userId != #{userId}

    </select>
    <update id="updatePostById" parameterType="PostDto">
        update posts
        <set>
            <if test="img!= null">img = #{img},</if>
            <if test="content!= null">content = #{content},</if>
        </set>
        where
        id=#{id} and userId = #{userId}
    </update>
    <insert id="insertPost" parameterType="PostDto" >
        insert
        into
            posts(userId, img, content)
        values
            (#{userId}, #{img}, #{content})
    </insert>

    <select id="getPostsById" resultType="SelectPostJoinUserDto" parameterType="PostDto">
        select
            p.id,p.userId,p.img,p.content
            u.name as userName, u.img as userImg
        from
            posts as p
        INNER JOIN
            users as u
        on u.id = p.userId
        where
            id=#{id}
    </select>

    <select id="getPostByKey" resultType="SelectPostJoinUserDto" parameterType="String">
        select
            p.id,p.userId,p.img,p.content
            u.name as userName, u.img as userImg
        from
            posts as p
                INNER JOIN
            users as u
            on u.id = p.userId
        where
            p.content like concat('%',#{key},'%')
    </select>

    <select id="getPostsByMyFollowing" resultType="SelectPostJoinUserDto" parameterType="PostDto">
        SELECT
            p.id,p.userId,p.img,p.content,
            u.name as userName, u.img as userImg,f.follower,f.following
        FROM
            posts as p
                INNER JOIN
            users as u
            ON p.userId=u.id
                INNER JOIN
            follows as f
            ON p.userId=f.following
        WHERE f.follower= #{userId}
    </select>
</mapper>